__pycache__/
*.pyc
ni-courseware/nade_audio/
koou-courseware/nade_audio/
keiji-courseware/nade_audio/
kenrui-courseware/nade_audio/
mienai-courseware/nade_audio/
kurikaeshi-courseware/nade_audio/
sentences-courseware/nade_audio/
yakaraka-courseware/nade_audio/
hasami-courseware/nade_audio/
karada-courseware/nade_audio/
kakure-kanji-courseware/nade_audio/
renyo-courseware/nade_audio/
hentaigana-courseware/tools/fonts/
zuru-courseware/nade_audio/
